.sidebar{
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 2px;
    width: 70px;
    background-color: white;
}

.elements{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   
  
    
}
.elements div{
    margin-top: 2px;
    font-family: roboto;
    font-size: 10px;
    padding-bottom: 36px;
    
}